#app {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black
}

.search-wrapper .card {
  font: inherit;
  display:  block;
  font-size: 16px;
  height: 50px;
  padding-top: 10px;
  background-color: transparent;
  box-sizing: content-box;
  line-height: normal;
  color: inherit;
  width: 15%;
}

.doc-form {
 width: 50%;
 margin-left: 25%;
}

.header {
  color: white;
  text-align: right;
}
