#app {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black
}

.search-wrapper{
  height: 46px;
  width: 276px;
}

.doc-form {
 width: 50%;
 margin-left: 25%;
}

.header {
  color: white;
  text-align: right;
}
